@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$light: #fff;
$dark: #000;
$cool-dark: #969696;
$cool-light: #dcdcdc;

$main-light: #FFD0D0;
$main-dark: #FF9EAA;
$secondary-light: #C1ECE4;
$secondary-dark: #3AA6B9;
section {
    padding: 40px;
    height: 100vh;
    min-height: 600px;

    .container {
        height: 100%;
        display: flex;

        aside {
            height: 100%;
            width: 300px;
            border-right: 1px solid $cool-dark;

            nav {
                display: flex;
                flex-direction: column;
                padding: 36px 6px;
                gap: 32px;
                height: 100%;

                a {
                    color: $cool-dark;
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: 1.1px;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    img {
                        width: 28px;
                        height: 28px;
                    }

                    #prof-img {
                        width: 32px;
                        height: 32px;
                    }

                    &#exit {
                        margin-top: auto;
                    }
                }
            }
        }
        main{
            overflow: scroll;
            
                &::-webkit-scrollbar {
                    display: none;
                }
        }

        #home-main {
            max-width: 750px;
            flex: 1;
            
            nav {
                padding: 10px;
                display: flex;
                gap: 16px;
                overflow-y: auto;
                overflow-x: hidden;
                scroll-direction: horizontal;

                &::-webkit-scrollbar {
                    display: none;
                }

                .story-box {
                    min-width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid red;
                    cursor: pointer;
                    img {
                        transform: translate(-3px, -3px);
                        width: 110%;
                        height: 110%;
                    }
                }
            }

            .post-wrapper {
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;

                .post {
                    width: 520px;

                    .post-info {
                        padding-bottom: 8px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.433);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .info-profile {
                            flex: 1;
                            display: flex;
                            gap: 8px;
                            align-items: center;

                            img {
                                min-width: 45px;
                                height: 45px;
                            }

                            .title {
                                h2 {
                                    line-height: 22px;
                                    font-size: 17px;
                                    font-weight: 500;
                                    #date{
                                        font-size: 15px;
                                        color: gray;
                                    }
                                    #followLink{
                                        color: cornflowerblue;
                                    }
                                }

                                p {
                                    font-size: 14px;
                                    color: gray;
                                }
                            }
                        }

                        img {
                            max-width: 40px;
                            cursor: pointer;
                        }
                    }
                    img{
                        width: 100%;
                    }
                    video{
                        width: 100%;
                    }
                }
            }
        }
    

        #explore-main{
            padding: 0 30px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
.profile-wrapper {
        padding: 60px 20px;
        display: flex;
        gap: 32px;
        border: 1px solid black;

        img {
            border-radius: 50%;
            width: 180px;
            height: 180px;
            object-fit: cover;
        }

        .profile-text {
            nav {
                display: flex;
                gap: 15px;
                align-items: center;
                padding: 10px 0;

                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: .8px;
                }

                button {
                    border-radius: 6px;
                    padding: 6px 12px;
                }



            }

            .raiting {
                display: flex;
                align-items: center;
                gap: 30px;
                padding: 8px 0;

                p {
                    font-weight: 300;

                    span {
                        font-weight: 500;
                    }
                }


            }

            .info {
                h3 {
                    font-size: 17px;
                    font-weight: 500;
                }

                p {
                    color: gray;
                }


            }
        }

    }

            .row{
                display: flex;
                gap: 20px;
                .column{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                    height: 800px;
                    width: 420px;

                    .mini{
                        width: 100%;
                        height: 380px;
                        object-fit: cover;
                    }
                    
                    .big{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                    img{
                        cursor: pointer;
                        &:hover{
                            opacity: .7;
                            
                        }
                    }
                }
            }

        }
    }
}